*{
    margin: 0;
    padding: 0;
}

.banner {
    height: 100vh;
    background-image: url('../IMG/banner.jpg');
    background-size: cover;
    border-radius: 70px;
}
.texthindi{
    color: aliceblue;
}

